.Search_container {
    border-top: 1px solid white;
    background-color: #062f70;
    height: 70px;
    padding: 20px;
    color: white;
    text-transform: capitalize;
    font-size: 1.2em;
    letter-spacing: 2px;

    display: flex;
    justify-content: space-between;
}
