.Header {
    background: linear-gradient(to right bottom, #afc0db, #062f70);
    height: 150px;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 2px;

    display: flex;
    justify-content: space-between;
}

.Header_logo {
    margin-right: 50px;
}
